@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-size: 2rem;
}

body {
  background-image: linear-gradient(to bottom right, #05386b, #379683);
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
}

.WebName {
  color: #5cdb95;
  margin-bottom: 5rem;
}

label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

#message-form {
  display: block;
  height: 50px;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 300;
}
::placeholder {
  color: rgb(182, 182, 182);
}

select {
  height: 2.5rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  border-radius: 10px;
}

/* #OpenImgUpload {
  background-image: url("/public/img/upload.png");
  background-repeat: no-repeat;
} */

button {
  margin-top: 1rem;
  width: 100%;
  background-color: #5cdb95;
  color: white;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
}

button:hover {
  background: #5fe49b;
}

button:disabled {
  cursor: default;
  background: #5fe49b;
}

/* Join Page Styles */

/* .centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.centered-form__box {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
  border: 0;
}
